<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/reset.css' %}">
    {% block head %}{% endblock head %}
    {% block css %}{% endblock css %}
    <title>{% block title %}{% endblock title %}</title>
</head>

<body>
    <div id="wraper">
        {% block header %}{% endblock header %}
        {% block main-content %}{% endblock main-content %}
        {% block footer %}{% endblock footer %}
    </div>
</body>

</html>