<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="call">
                <ul>
                    <li title="문의전화">
                        전화 : 02-766-0121
                    </li>
                    <li title="팩스">
                        팩스 : 02-744-0113
                    </li>
                </ul>
            </div>
            <div class="login">
                <ul>
                    <li>
                        <a href="#">로그인</a>
                    </li>
                    <li>
                        <a href="#">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="sticky-wrapper" class="sticky-wrapper">

    </div>
</header>