{% load static %}
<header id="header">
    <div class="header-top">
        <div class="container">
            <div class="call">
                <ul>
                    <li title="문의전화">
                        전화 : 02-766-0121
                    </li>
                    <li title="팩스">
                        팩스 : 02-744-0113
                    </li>
                </ul>
            </div>
            <div class="login">
                <ul>
                    <li>
                        <a href="#">로그인</a>
                    </li>
                    /
                    <li>
                        <a href="#">회원가입</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div id="sticky-wrapper" class="sticky-wrapper">
        <div class="header-nav">
            <div class="header-nav-wrapper">
                <div class="container">
                    <div class="menu">
                        <a href="#">
                            <img src="{% static 'images/로고.png' %}" alt="logo">
                        </a>
                        <ul>
                            <li><a href="#">Home</a></li>
                            <li><a href="#">협회소개</a></li>
                            <li><a href="#">프로그램</a></li>
                            <li><a href="#">자격안내</a></li>
                            <li><a href="#">자격시험</a></li>
                            <li><a href="#">직무교육</a></li>
                            <li><a href="#">고객마당</a></li>
                            <li><a href="#">멤버쉽</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>